@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'inter', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1160px;
    margin: auto;
}

#projects{
    margin-top: 5rem;
}

@media (max-width: 624px){
    .container{
        padding: 1rem;
    }
}

// #form{
//     max-width: 100%;
// }