nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #logo{
        a{
            text-decoration: none;
            font-weight: 600;
            font-size: 1.25rem;
        }
    }

    .lista-nav{
        list-style: none;
        gap: 2rem;

        li{
            display: inline;
            margin-left: 2rem;
        }
    }

    ul:first-child{
        margin-left: 0;
    }


    #hamburger{
        width: 1rem;
        height: 1rem;
        display: none;
        cursor: pointer;
        div{
            width: 24px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
            transition: all 0.3s ease;
        }
        
    }

    

    .nav-active{
        transform: translateY(0);
    }
}

@media (max-width: 624px){
    .lista-nav{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 3rem;
        background-color: white;
        left: 0;
        align-items: center;
        padding-left: 0;
        padding-top: 5rem;
        transform: translateY(-110%);
        transition:all .5s ease-in;
    }
    nav{
        #hamburger{
            display: block;
        }
    }
}




.toggleMenu {
    .linea1{
        transform: rotate(-45deg) translate(0, 8px);
    }
    .linea3{
        transform: rotate(45deg) translate(0, -8px);
    }
    .linea2{
        opacity: 0;
    }
}